
{
	padding: 0px;
	margin: 0px;
}

body{
	direction: rtl;
	background-color: #EFF1F2;
	padding-top: 50px;
}

.navbar-inverse{
	background:#ffffff;
	border: 2px solid #EFF1F2;
	color: #000000;
}


.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.link_box
{
  border          : 1px solid rgba(0,0,0,.125);
  margin-bottom   : 30px;
  width           : 90%;
  border-radius   : 5px;
  padding-top     : 5px;
  padding-right   : 10px;
  height          : 90px;
  margin-top      : 32px;
  background-color: #fcfafa
}

.link_box span
{
  position: relative;
}

.link_area_style
{
  border           : 1px solid rgba(0,0,0,.125); 
  width            : 82%;
  height           : 25px;
  border-radius    : 100px;
  background-color : #f2f2f2;
  position         : absolute;
  margin-top       : 12px;
}

.img_link
{
  position      : relative;
  margin-bottom : 30px;
  text-align    : center;
  padding-top   : 10px;
  font-size     : 15px;  
  margin-left   : 9px;
  padding-top   : 6px;
  margin-top    : 10px;

  /*margin-top    : 10px;
  border        : 1px solid rgba(0,0,0,.125);
  width         : 100%;
  height        : 5%;
  border-radius : 40px;
  padding-top   : 2px;*/
}

.review_images /*20813899*/
{
  width   :30%;
  height  :20%;
  float   :right;
  background-color:white;
  border   : 1px solid rgba(0,0,0,.125);
  margin   : auto;
  right    : 0;
  left     : 0;
  bottom   : 0;
  top      : 0;
}


.modal-header .close
{
  margin           : 0;
  position         : absolute;
  top              : -10px;
  right            : -10px;
  width            : 23px;
  height           : 23px;
  border-radius    : 23px;
  background-color : #00aeef;
  color            : #ffe300;
  font-size        : 18px;
  opacity          : 1;
  z-index          : 50;
}

.modal-header .close, .modal-header .mailbox-attachment-close
{
    padding:0rem;
}

.modal-title
{
    font-size: 14px;
}

.modal-content
{
  pointer-events : auto;
  overflow-y     : auto;
}

.imgDelBtn
{
  margin-right     : 20px;
}

.imgDelBtn:hover , .closeModalimg:hover
{
  border: 1px solid #00bfd6 !important;
}
.edit_productTitle , .productTitle
{
  font-size     : 18px;
  padding-top   : 30px;
  color         : #666;
  padding-right : 10px;
}


.submitStyle
{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  color: red;
  font-weight: bold;
}

.city-edit-header
{
  font-size : 20px;
  color     : #737373;
}

.city-index-table
{
  text-align: center;
}

.details_1, .users_account, .orders_list
{
  background-color : white;
  border-radius    : 10px;
  padding-bottom   : 10px;
  width            : 95%;
  margin           : auto;
}

.details_1 .code, .orders_list .code
{
  margin      : 10px 20px 10px 0px;
  padding-top : 20px;
  font-size   : 18px;
  font-weight : bold;
}


.posts_steps
{
    padding-top      : 20px;
    width            : 95%;
    background-color : white;
    margin           : auto;
    border-radius    : 5px;
    padding-bottom   : 20px;
    margin-bottom    : 20px;
    margin-top       : 20px;
}

.posts_steps .opacity
{
    opacity: 0.4;
}

.opacity:hover
{
    opacity: 1;
}

.post_steps .confirmation
{
  position : absolute;
  right    : 14%;
  top      : 110%;
}

.posts_steps div
{
    text-align: center;
}

.posts_steps .step
{
    -moz-transform: scale(0.8);
}

.posts_steps .link
{
    -moz-transform: scale(0.5);
    margin-top: 30px;
}

.posts_steps .slick-next
{
    right: 98% !important;
}
.posts_steps .slick-next::before
{
    content: '←' !important;
    margin-right: -9px;

}

.posts_steps .slick-prev
{
    right: 2px !important;
}

.posts_steps .slick-prev::before
{
    content: '→' !important;
}

.bought_items .title
{
  margin      : 10px 10px 20px 0px;
  font-size   : 17px;
  font-weight : bold;
  padding-top : 20px;
}

.bought_items .container
{
  background-color :white;
  border-radius    :5px;
  padding-bottom   : 10px;
  margin-bottom    : 20px;
}

.bought_items .table
{
  font-size     : 16px;
  border-bottom : 1px solid #dee2e6;
}

.cart_product_color
{
    width         : 14px;
    height        : 14px;
    border-radius : 50%;
    margin-bottom : 18px;
    margin-top    : 30px;
    margin-right  : 0px;
    border        : 1px solid #adaba5;
}

.cart_headers
{
    text-align: center;
}

.cart_values
{
    text-align: center;
    line-height: 80px;
}

.total-price-factor table
{
    width         : 75%;
    border-radius : 5px;
    font-size     : 15px;
    border        : 1px solid #bec4c0;
}

.total-price-factor table tr
{
    line-height      : 50px;
    background-color : white;
}

.total-price-factor a
{
    margin: 15px 0px 30px 109px;
    float: left
}

.users_details
{
  margin-top: 20px
}

.users_details .table th, .users_details .table td
{
  text-align: center;
}

.orders_list .table
{
  width  : 95%;
  margin : auto;
  /*border-bottom : 1px solid #dee2e6;*/
}

.orders_list .table th, .orders_list .table td
{
  text-align: center;
}

.borderless td, .borderless th {
    border: none;
}

.filters_implementation
{

}

.filters_implementation .header
{
  background-color : white;
  pointer-events   : none;
}

.filters_implementation tr
{
  cursor: pointer;
}

.filters_implementation .header p
{
  color         : red;
  margin-top    : 10px;
  margin-bottom : 0px;
}

.filters_implementation .filters_colors
{
  width         : 14px;
  height        : 14px;
  border-radius : 50%;
  margin-top    : 5px;
  border        : 1px solid #adaba5;
}