
@font-face {
    font-family: Vazir;
    src: url('../dist/fonts/Vazir.eot');
    src: url('../dist/fonts/Vazir.eot?#iefix') format('embedded-opentype'),
    url('../dist/fonts/Vazir.woff2') format('woff2'),
    url('../dist/fonts/Vazir.woff') format('woff'),
    url('../dist/fonts/Vazir.ttf') format('truetype');
    font-weight: normal;
}

body
{
	direction: rtl;
	background: #edeff0;
    font-family: 'Vazir', sans-serif !important;
}

.header
{
	background: white;
}

.list-inline
{
    margin-top: 15px;
    margin-bottom: 15px;
}

.list-inline li
{
    color: #929782;
}

.list-inline li a
{
    text-decoration: none;
}

.btn-shopping-cart
{
    height: 38px;
    background-color: #4caf50;
    color: white;
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
    line-height: 38px;
}

.shopping-cart-icon
{
    font-size: 20px;
    padding-right: 15px;
    padding-left: 15px;
    float: right;
}

.shopping-cart-text
{
    float: right;
    padding-left: 35px;
}

.items-count-in-shopping-cart
{
    height: 25px;
    width : 25px;
    margin: 7px 7px 0px 0px;
    text-align: center;
    background-color: #5fbf63;
    border-radius: 50%;
    display: inline-block;
    line-height: 26px;
    float: right;
}

.searching-box
{  
    float: right;
    width: 350px;
    direction: ltr;
}

.seach-btn
{    
    height: 37px;
    width: 37px;
    background-color: #669999;
    border-radius: 4px;
    color: white;
    text-align: center;
    line-height: 38px;
    border: 1px solid #B5B5B5;
    cursor: pointer;  
    float: right;
}

.search-input
{
    text-align: right;
}

.logo
{
    margin: 38px 200px 0px 0px;
}

.menu
{
    background: #f7f8fa;
    position: relative;
    margin-top: -15px;
}

.level1-ul
{
    padding-right: 20px;
}

.level1-li
{
    padding-left: 10px;
    cursor: pointer;
    padding: 15px;
    padding-bottom: 16px;
}


.level2-ul
{
    background:white;
    width: 80%;
    /*height: 400px;*/
    position:absolute;
    border-right:1px solid #e1e1e1;
    border-left:1px solid #e1e1e1;
    border-bottom:1px solid #e1e1e1;
    margin-top:16px;
    right:20px;
    display:none;
    z-index:100;
    padding-top    : 10px;
    padding-right  : 20px;
    padding-bottom : 0px;
}

.level2-li
{
    margin-right: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    border-left : 1px solid #E2E2E2;
}

.level2-li:hover
{
    color         : #ff4d4d;
    border-bottom : 2px solid red;
}

/*.level2-li
{
    margin-right: 10px;
    padding-left: 20px;
    width       : 25%;
    border-left : 1px solid #E2E2E2;
}*/


.level3-ul
{
    background      : #ffffff;
    width           : 99%;
    position        : absolute;
    border-top      : 1px solid #e1e1e1;
    border-right    : 1px solid #e1e1e1;
    border-left     : 1px solid #e1e1e1;
    border-bottom   : 1px solid #e1e1e1;
    margin-top      : 12px;
    right           : 3px;
    z-index         : 100;
    padding-right   : 20px !important;
    list-style-type : none;
}

.level3-li
{    
    padding-top     : 2px;
    padding-bottom  : 2px;
}

.level3-li:hover
{
    width      : 25%;
    background : #FAFAFA;
}




.li-menu
{
    padding-right  : 10px;
    position       : relative;
    z-index        : 100;
    list-style-type: none;
}

.li-menu:hover
{
    background : #FAFAFA;
}

.level2-li
{
    padding-top: 0px !important;
}

.list-group
{
    padding-top: 0px !important;
}

/* Editing bootstrap's list-group-item */
.list-group-item
{
    padding-top    : 5px;
    padding-bottom : 5px;
    border         : 0px !important;
}


.right_panel img
{
    width         : 90%;
    margin-right  : 20px;
    margin-bottom : 17px;
    border-radius : 5px;
}

/*.sliders
{
    height    : 250px;
    position  : absolute;
}*/

.sliders img
{
    width         : 95%;
    border-radius : 5px;
    z-index       : -1;
    position      : absolute;
}

.animation
{
    animation-name: anim;
    -webkit-animation-name: anim;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    animation-duration: 1.5s;
}
@keyframes anim
{
    from {opacity: 0.1}
    top  {opacity: 1}
}

.slider_name
{
    background : rgba(66, 73, 89, .8);
    width      : 95%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor     : pointer;
    position   : absolute;
    top        : 27%;
}

.slider_text
{
    width       : 19%;
    color       : white;
    text-align  : center;
    line-height : 48px;
    display     : inline-block;
}

.slider_text_active
{
    width       : 19%;
    color       : white;
    text-align  : center;
    line-height : 48px;
    display     : inline-block;
    background-color : #f55d5d;
    border-radius    : 5px;
}

.newest_product
{
    width        : 95%;
    background   : white;
    border       : 1px solid #EBECED;
    border-radius: 5px;
    position     : absolute;
    top          : 34%;
}

.newest_products_title
{
    height     : 40px;
    background : #F7F9FA;
    border-top-right-radius: 5px;
    border-top-left-radius : 5px;
    box-shadow: 0px 1px 2px 0pc rgba(0, 0, 0, 0.1);
}

.newest_products_title span
{
    color: #46A349;
    height: 38px;
    line-height: 38px;
    font-size: 18px;
    padding-right: 15px;
}

.newest_products_image_box
{
    /*float: right;*/
    margin-right: 10px;
}

.newest_products_image
{
    width: 100%;
}

.newest_products_image img
{
    margin-top: 10px;
    margin-right: 15%;
    width     : 40%;
    height    : auto;
    position  : relative;
    z-index   : -1;
}


.newest_products_image_box p
{
    padding-top: 10px;
    font-size  : 14px; 
}
.newest_product_title
{
    word-break     : normal;
    margin-left    : 10px;
    color          : black;
    text-decoration: none !important;
}

/* Arrow style */

.right-space-arrow
{
    margin-top: 10%;
    width:5%;
    height:25%;
    position: absolute;
    background-color:#F7F9FA;
}

.slick-next
{
    right: 12px !important;
}
.slick-next:before
{
    content     : "<"  !important;
    color       : black  !important;
    font-size   : 30px !important;
    font-weight : bold !important;
}


.left-space-arrow
{
    margin-top: 10%;
    margin-right: 95%;
    width:5%;
    height:25%;
    position: absolute;
    background-color:#F7F9FA;
}

.slick-prev {
    z-index: 9999 !important; /*if not: prev slide button not working - https://github.com/kenwheeler/slick/issues/2827*/
    left: 15px !important;
}

.slick-prev:before
{
    content     : ">"  !important;
    color       : black  !important;
    font-size   : 30px !important;
    font-weight : bold !important;
}



/* End of arrow styling */



.newest_product_price
{
    margin-right  : 20%;
    color         : green;
    margin-top    : 10%;
    padding-bottom: 0px !important;
    margin-bottom : 0px !important;
}
/*Crossline:14593415*/
.strikediag {
    margin-right  : 20%;
    color         : black;
    padding-bottom: 0px !important;
    margin-bottom : 0px !important;
    display       : inline-block;
    position      : relative;
}
.strikediag::before {
  content       : '';
  position      : absolute;
  left          : -0.1em;
  right         : -0.1em;
  top           : 0.38em;
  bottom        : 0.38em;
  background    : linear-gradient(to left top, transparent 45.5%, currentColor 47.5%, currentColor 52.5%, transparent 54.5%);
  pointer-events: none;
}

.newest_product_discount
{
    margin-right   : 30%;
    padding-top    : 0px !important;
    margin-top     : 0px !important;
    padding-bottom : 0px !important;
    margin-bottom  : 0px !important;
    color          : red;
    font-size      : 150;
    font-weight    : bold;
}

.newest_product_price_with_discount
{
    margin-right: 20%;
    padding-top : 0px !important;
    margin-top  : 0px !important;
    color       : green;
}







@media(max-width:1156px)
{
    .logo
    {
        margin: 38px 100px 0px 0px;
    }

}

@media(max-width:1240px)
{
    .logo
    {
        margin: 38px 70px 0px 0px;
    }

}

@media(max-width:826px)
{
    .logo
    {
        margin: 38px 50px 0px 0px;
    }

}

@media(max-width:634px)
{
    .logo
    {
        width: 90%;
        margin: 38px 20px 0px 0px;
    }

}


@media(max-width:582px)
{
    .searching-box
    {
        width: 550px;
    }

    .logo
    {
        width: auto;     
    }

}


@media(max-width:990px)
{
    .shopping-cart-text
    {
        float: right;
        padding-left: 20px;
    }

    .searching-box
    {
        width: 300px;
    }

}

@media(max-width:768px)
{
    .shopping-cart-text
    {
        float: right;
        padding-left: 5px;
    }

    .searching-box
    {
        width: 200px;
    }

}

@media(max-width:390px)
{
    .shopping-cart-text
    {
        float: right;
        padding-left: 1px;
    }

    .searching-box
    {
        width: 150px;
    }

}